# Slicing & Indexing
## Explicit Indexes

In [1]:
import pandas as pd
weather=pd.read_csv("weather.csv")

In [2]:
weather.index

RangeIndex(start=0, stop=10, step=1)

In [3]:
weather.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed', 'RainToday',
       'RainTomorrow', 'Date'],
      dtype='object')

Set **"RainToday"** as an index value

In [4]:
weather_ind=weather.set_index("RainToday")
weather_ind

           MinTemp  MaxTemp  Rainfall  WindGustSpeed RainTomorrow        Date
RainToday
No             8.0     24.3       0.0             30          Yes  2020-01-01
No            14.0     26.9       0.0             39          Yes  2020-02-10
Yes           13.7     23.4      26.6             85          Yes  2020-03-15
Yes           13.3     15.5      39.8             54          Yes  2020-04-10
Yes            7.6     16.1      49.0             50           No  2020-05-15
No             6.2     16.9       0.0             44           No  2020-06-10
Yes            6.1     18.2      45.6             43           No  2020-07-17
Yes            8.3     17.0      34.0             41           No  2020-08-28
No             8.8     19.5       0.0             48          Yes  2020-10-29
Yes            8.4     22.8      25.0             31           No  2020-12-21

Reset the **index** to previous state

In [5]:
weather_ind.reset_index()

,RainToday,MinTemp,MaxTemp,Rainfall,WindGustSpeed,RainTomorrow,Date
0,No,8.0,24.3,0.0,30,Yes,2020-01-01
1,No,14.0,26.9,0.0,39,Yes,2020-02-10
2,Yes,13.7,23.4,26.6,85,Yes,2020-03-15
3,Yes,13.3,15.5,39.8,54,Yes,2020-04-10
4,Yes,7.6,16.1,49.0,50,No,2020-05-15
5,No,6.2,16.9,0.0,44,No,2020-06-10
6,Yes,6.1,18.2,45.6,43,No,2020-07-17
7,Yes,8.3,17.0,34.0,41,No,2020-08-28
8,No,8.8,19.5,0.0,48,Yes,2020-10-29
9,Yes,8.4,22.8,25.0,31,No,2020-12-21

Drop the **index**

In [6]:
weather_ind.reset_index(drop=True)

   MinTemp  MaxTemp  Rainfall  WindGustSpeed RainTomorrow        Date
0      8.0     24.3       0.0             30          Yes  2020-01-01
1     14.0     26.9       0.0             39          Yes  2020-02-10
2     13.7     23.4      26.6             85          Yes  2020-03-15
3     13.3     15.5      39.8             54          Yes  2020-04-10
4      7.6     16.1      49.0             50           No  2020-05-15
5      6.2     16.9       0.0             44           No  2020-06-10
6      6.1     18.2      45.6             43           No  2020-07-17
7      8.3     17.0      34.0             41           No  2020-08-28
8      8.8     19.5       0.0             48          Yes  2020-10-29
9      8.4     22.8      25.0             31           No  2020-12-21

### Subsetting from indexes 
Use the **Rainfall** index to make subset from **(0.0 to 3.6)**

In [7]:
weather[weather["Rainfall"].isin(["0.0","3.6"])]

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,RainToday,RainTomorrow,Date
0,8.0,24.3,0.0,30,No,Yes,2020-01-01
1,14.0,26.9,0.0,39,No,Yes,2020-02-10
5,6.2,16.9,0.0,44,No,No,2020-06-10
8,8.8,19.5,0.0,48,No,Yes,2020-10-29

### Index value don't have to be unique
Set **"RainTomorrow"** as an index value

In [8]:
weather_ind2=weather.set_index("RainTomorrow")
weather_ind2

              MinTemp  MaxTemp  Rainfall  WindGustSpeed RainToday        Date
RainTomorrow
Yes               8.0     24.3       0.0             30        No  2020-01-01
Yes              14.0     26.9       0.0             39        No  2020-02-10
Yes              13.7     23.4      26.6             85       Yes  2020-03-15
Yes              13.3     15.5      39.8             54       Yes  2020-04-10
No                7.6     16.1      49.0             50       Yes  2020-05-15
No                6.2     16.9       0.0             44        No  2020-06-10
No                6.1     18.2      45.6             43       Yes  2020-07-17
No                8.3     17.0      34.0             41       Yes  2020-08-28
Yes               8.8     19.5       0.0             48        No  2020-10-29
No                8.4     22.8      25.0             31       Yes  2020-12-21

subset on the index value using **.loc()** function as **"Yes"**

In [9]:
weather_ind2.loc["Yes"]

              MinTemp  MaxTemp  Rainfall  WindGustSpeed RainToday        Date
RainTomorrow
Yes               8.0     24.3       0.0             30        No  2020-01-01
Yes              14.0     26.9       0.0             39        No  2020-02-10
Yes              13.7     23.4      26.6             85       Yes  2020-03-15
Yes              13.3     15.5      39.8             54       Yes  2020-04-10
Yes               8.8     19.5       0.0             48        No  2020-10-29

### Multi-level indexes 
Use multilevel indexes in **RainToday** & **RainTomorrow** using set_index() funtion

In [10]:
weather_ind3=weather.set_index(["RainToday","RainTomorrow"])
weather_ind3

                        MinTemp  MaxTemp  Rainfall  WindGustSpeed        Date
RainToday RainTomorrow
No        Yes               8.0     24.3       0.0             30  2020-01-01
          Yes              14.0     26.9       0.0             39  2020-02-10
Yes       Yes              13.7     23.4      26.6             85  2020-03-15
          Yes              13.3     15.5      39.8             54  2020-04-10
          No                7.6     16.1      49.0             50  2020-05-15
No        No                6.2     16.9       0.0             44  2020-06-10
Yes       No                6.1     18.2      45.6             43  2020-07-17
          No                8.3     17.0      34.0             41  2020-08-28
No        Yes               8.8     19.5       0.0             48  2020-10-29
Yes       No                8.4     22.8      25.0             31  2020-12-21

Subset the outer level as **"No"**

In [11]:
weather_ind3.loc["No"]

              MinTemp  MaxTemp  Rainfall  WindGustSpeed        Date
RainTomorrow
Yes               8.0     24.3       0.0             30  2020-01-01
Yes              14.0     26.9       0.0             39  2020-02-10
No                6.2     16.9       0.0             44  2020-06-10
Yes               8.8     19.5       0.0             48  2020-10-29

### Subset inner levels with list of tuples
Use **.loc()** function in **("No","Yes") ("Yes","No")**

In [12]:
weather_ind3.loc[[("Yes","No"),("No","Yes")]]

                        MinTemp  MaxTemp  Rainfall  WindGustSpeed        Date
RainToday RainTomorrow
Yes       No                7.6     16.1      49.0             50  2020-05-15
          No                6.1     18.2      45.6             43  2020-07-17
          No                8.3     17.0      34.0             41  2020-08-28
          No                8.4     22.8      25.0             31  2020-12-21
No        Yes               8.0     24.3       0.0             30  2020-01-01
          Yes              14.0     26.9       0.0             39  2020-02-10
          Yes               8.8     19.5       0.0             48  2020-10-29

### Sorting by index value
Use the **sort** function to sort **weather_ind3**

In [13]:
weather_ind3.sort_index()

                        MinTemp  MaxTemp  Rainfall  WindGustSpeed        Date
RainToday RainTomorrow
No        No                6.2     16.9       0.0             44  2020-06-10
          Yes               8.0     24.3       0.0             30  2020-01-01
          Yes              14.0     26.9       0.0             39  2020-02-10
          Yes               8.8     19.5       0.0             48  2020-10-29
Yes       No                7.6     16.1      49.0             50  2020-05-15
          No                6.1     18.2      45.6             43  2020-07-17
          No                8.3     17.0      34.0             41  2020-08-28
          No                8.4     22.8      25.0             31  2020-12-21
          Yes              13.7     23.4      26.6             85  2020-03-15
          Yes              13.3     15.5      39.8             54  2020-04-10

# Slicing & Subsetting with .loc & .iloc

**set** the weather **index** as "MinTemp" and "MaxTemp" then **sort** it

In [14]:
weather_srt=weather.set_index(["MinTemp","MaxTemp"]).sort_index()
weather_srt

                 Rainfall  WindGustSpeed RainToday RainTomorrow        Date
MinTemp MaxTemp
6.1     18.2         45.6             43       Yes           No  2020-07-17
6.2     16.9          0.0             44        No           No  2020-06-10
7.6     16.1         49.0             50       Yes           No  2020-05-15
8.0     24.3          0.0             30        No          Yes  2020-01-01
8.3     17.0         34.0             41       Yes           No  2020-08-28
8.4     22.8         25.0             31       Yes           No  2020-12-21
8.8     19.5          0.0             48        No          Yes  2020-10-29
13.3    15.5         39.8             54       Yes          Yes  2020-04-10
13.7    23.4         26.6             85       Yes          Yes  2020-03-15
14.0    26.9          0.0             39        No          Yes  2020-02-10

### Slice outer index level
slice the index from **(6.1 to 8.0)**

In [15]:
weather_srt.loc[6.1:8.0]

                 Rainfall  WindGustSpeed RainToday RainTomorrow        Date
MinTemp MaxTemp
6.1     18.2         45.6             43       Yes           No  2020-07-17
6.2     16.9          0.0             44        No           No  2020-06-10
7.6     16.1         49.0             50       Yes           No  2020-05-15
8.0     24.3          0.0             30        No          Yes  2020-01-01

### Slice the inner index level

Slice the **first four** index index

In [16]:
weather_srt.loc[(6.1,18.2):(8.0,24.3)]

                 Rainfall  WindGustSpeed RainToday RainTomorrow        Date
MinTemp MaxTemp
6.1     18.2         45.6             43       Yes           No  2020-07-17
6.2     16.9          0.0             44        No           No  2020-06-10
7.6     16.1         49.0             50       Yes           No  2020-05-15
8.0     24.3          0.0             30        No          Yes  2020-01-01

### Slicing columns
Slice weather_srt by columns **(Rainfall and WindGustSpeed)**

In [17]:
weather_srt.loc[:, "Rainfall":"WindGustSpeed"]

                 Rainfall  WindGustSpeed
MinTemp MaxTemp
6.1     18.2         45.6             43
6.2     16.9          0.0             44
7.6     16.1         49.0             50
8.0     24.3          0.0             30
8.3     17.0         34.0             41
8.4     22.8         25.0             31
8.8     19.5          0.0             48
13.3    15.5         39.8             54
13.7    23.4         26.6             85
14.0    26.9          0.0             39

### Slice twice
Slice weather_srt twice from **(6.1, 18.3 to 8.0,24.3)** keeping columns **RainToday** and **RainTomorrow**

In [18]:
weather_srt.loc[(6.1,18.2):(8.0,24.3), "RainToday":"RainTomorrow"]

                RainToday RainTomorrow
MinTemp MaxTemp
6.1     18.2          Yes           No
6.2     16.9           No           No
7.6     16.1          Yes           No
8.0     24.3           No          Yes

### Slicing by dates 
**set()** "Date" as index and **sort()** it

In [19]:
weather_date=weather.set_index("Date").sort_index()
weather_date

            MinTemp  MaxTemp  Rainfall  WindGustSpeed RainToday RainTomorrow
Date
2020-01-01      8.0     24.3       0.0             30        No          Yes
2020-02-10     14.0     26.9       0.0             39        No          Yes
2020-03-15     13.7     23.4      26.6             85       Yes          Yes
2020-04-10     13.3     15.5      39.8             54       Yes          Yes
2020-05-15      7.6     16.1      49.0             50       Yes           No
2020-06-10      6.2     16.9       0.0             44        No           No
2020-07-17      6.1     18.2      45.6             43       Yes           No
2020-08-28      8.3     17.0      34.0             41       Yes           No
2020-10-29      8.8     19.5       0.0             48        No          Yes
2020-12-21      8.4     22.8      25.0             31       Yes           No

Slice weather **date** between **2020-01-01** and **2020-04-10**

In [20]:
weather_date.loc["2020-01-01":"2020-04-10"]

            MinTemp  MaxTemp  Rainfall  WindGustSpeed RainToday RainTomorrow
Date
2020-01-01      8.0     24.3       0.0             30        No          Yes
2020-02-10     14.0     26.9       0.0             39        No          Yes
2020-03-15     13.7     23.4      26.6             85       Yes          Yes
2020-04-10     13.3     15.5      39.8             54       Yes          Yes

slice by partial dates i.e **first five months**

In [21]:
weather_date.loc["2020-01":"2020-05"]

            MinTemp  MaxTemp  Rainfall  WindGustSpeed RainToday RainTomorrow
Date
2020-01-01      8.0     24.3       0.0             30        No          Yes
2020-02-10     14.0     26.9       0.0             39        No          Yes
2020-03-15     13.7     23.4      26.6             85       Yes          Yes
2020-04-10     13.3     15.5      39.8             54       Yes          Yes

### Subsetting by rows and columns
Subset weather by **row (2 to 5)** and **columns (1 to 4)**

In [22]:
print(weather.iloc[2:5,1:4])

   MaxTemp  Rainfall  WindGustSpeed
2     23.4      26.6             85
3     15.5      39.8             54
4     16.1      49.0             50

# Working with pivot tables
**Pivot** the weather by keeping value as "Rainfall", **index** as "MinTemp" and **columns** as "MaxTemp".

In [23]:
weather_speed_rainfall=weather.pivot_table("Rainfall",index="MinTemp",columns="MaxTemp")
weather_speed_rainfall

MaxTemp  15.5  16.1  16.9  17.0  18.2  19.5  22.8  23.4  24.3  26.9
MinTemp
6.1       NaN   NaN   NaN   NaN  45.6   NaN   NaN   NaN   NaN   NaN
6.2       NaN   NaN   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
7.6       NaN  49.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8.0       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   0.0   NaN
8.3       NaN   NaN   NaN  34.0   NaN   NaN   NaN   NaN   NaN   NaN
8.4       NaN   NaN   NaN   NaN   NaN   NaN  25.0   NaN   NaN   NaN
8.8       NaN   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN   NaN
13.3     39.8   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13.7      NaN   NaN   NaN   NaN   NaN   NaN   NaN  26.6   NaN   NaN
14.0      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   0.0

### .loc + slicing is a power combo
Use **.loc** plus **slicing** between **first five index**

In [24]:
weather_speed_rainfall.loc[6.1:8.3]

MaxTemp  15.5  16.1  16.9  17.0  18.2  19.5  22.8  23.4  24.3  26.9
MinTemp
6.1       NaN   NaN   NaN   NaN  45.6   NaN   NaN   NaN   NaN   NaN
6.2       NaN   NaN   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
7.6       NaN  49.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8.0       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   0.0   NaN
8.3       NaN   NaN   NaN  34.0   NaN   NaN   NaN   NaN   NaN   NaN

### The axis argument
Calculate summary stats across **index**, i.e (mean)

In [25]:
weather_speed_rainfall.mean(axis="index")

MaxTemp
15.5    39.8
16.1    49.0
16.9     0.0
17.0    34.0
18.2    45.6
19.5     0.0
22.8    25.0
23.4    26.6
24.3     0.0
26.9     0.0
dtype: float64

Calculate summary stats across **columns**, i.e (mean)

In [26]:
weather_speed_rainfall.mean(axis="columns")

MinTemp
6.1     45.6
6.2      0.0
7.6     49.0
8.0      0.0
8.3     34.0
8.4     25.0
8.8      0.0
13.3    39.8
13.7    26.6
14.0     0.0
dtype: float64

## The End